{% extends "base.html" %}
{% load static %}
{% block title %}
  Об авторе проекта
{% endblock %}
{% block content %}
<h1>Привет, я Кирилл (или Ежжи Обыкновенный)</h1>
<p>
  Я бы очень хотел разместить тут информацию о себе, используя свои умения верстать.
  <br>Картинки, блоки, элементы бустрап. А может быть, просто написать несколько абзацев текста.
  <br>Но к величайшему сожалению, я отстаю по учебе на целую неделю в связи с работой и очень не хочу в академ :(
  <br>Поэтому пока что тут будет только этот печальный текст, надеюсь в будущем это исправить, а пока что вот вам фото моих котиков :3
  <br><img src="{% static 'img/cats.jpg' %}" width="700">
</p>
{% endblock %} 